<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Todos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<a th:href="@{/logout}">Logout</a>

		<div class="row">
			<h1>Todos</h1>
		</div>
		<div th:if=${param.invalidUser}>
			<div class="alert alert-danger">You're not this user</div>

		</div>
		<div class="row mb-3">
			<form th:action="@{/todosByTitleAndUsername}" method="get">
				<div class="col-sm-6 mb-2">
					<input type="text" class="form-control" name="title"
						placeholder="Filter by title" />
				</div>
				<div class="col-sm-6 mb-2">
					<input type="text" class="form-control" name="username"
						placeholder="Filter by username" />
				</div>
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary">Filter</button>
				</div>
			</form>
		</div>
		<div style="height: 500px; overflow-y: auto;">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Username</th>
						<th scope="col">Country</th>
						<th scope="col">Completed</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="todo : ${todos}">
						<td th:text="${todo.title}"></td>
						<td th:text="${todo.user.username}"></td>
						<td th:text="${todo.user.country}"></td>
						<td th:text="${todo.completed}"></td>
						<td><a th:href="@{/todo/update/{id}(id=${todo.id})}"
							class="btn btn-primary">Update</a> <a
							th:href="@{/todo/delete/{id}(id=${todo.id})}"
							class="btn btn-danger"
							onclick="return confirm('Are you sure you want to delete this todo?')">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row mt-3">
			<div class="col-sm-12">
				<a th:href="@{todo/new}" class="btn btn-success">Add todo</a>
			</div>
		</div>
	</div>
</body>
</html>